.wrapper{
    margin: 0;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
}

p{
    margin: 0;
}

div {
    text-align: center;
}

/* Better to use flexbox */
.center-vertically{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.first-text{
    background-color: #70a7df;
    height: 15%;
}

.first-img{
    background-color: #fac0f6;
    height: 15%;
}

.second-img{
    background-color: #bce68b;
    float: left;
    height: 70%;
    width: 75%;
}

.second-text{
    background-color: #93b071;
    float: right;
    height: 60%;
    width: 25%;
}